<% content_for :head do %>
  <script type="text/javascript" src="/javascripts/modules/format-success.js"></script>
<% end %>

<div class="module">
  <div class="module-header">
    <div class="info"></div>
    <div>
      <div class="small-text">Format Success</div>
      <div>TBD</div>
    </div>
  </div>
  <div style="clear: both"></div>
  <div id="format-success"></div>
  <div class="small-text" style="padding: 18px 0">
     <span class="blue-text">Sources: Google Analytics</span>
  </div>
</div>
